.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .protest-riot-regular {
    font-family: "Protest Riot";
    font-weight: 400;
    font-style: normal;
  }